{{define "Package"}}
<div class="Package">
    {{template "PackageNav" .}}
    {{template "PackageHeader" .}}
    {{template "PackageDoc" .PackageDoc}}
    {{template "PackageExamples" .Examples}}
    {{template "PackageIndex" .}}
    {{template "PackageFiles" .Files}}

    {{ if gt (len .Constants) 0}}
    <h2 id="pkg-constants">Constants</h2>
    {{end}}
    {{ range .Constants }}
    {{ template "PackageVars" .}}
    {{ end }}

    {{ if gt (len .Variables) 0}}
    <h2 id="pkg-variables">Variables</h2>
    {{end}}
    {{ range .Variables }}
    {{ template "PackageVars" .}}
    {{ end }}

    {{ range .Funcs }}
    {{template "PackageFunc" .}}
    {{end}}

    {{ range .Types }}
    {{template "PackageType" .}}
    {{end}}

    {{if .GoMod}}
    <h2 id="pkg-go.mod">Go.mod</h2>
    {{.GoMod}}
    {{end}}

    {{ if gt (len .Subdirs) 0 }}
    {{template "PackageSubdirectories" .}}
    {{ end }}
</div>
<script>
    document.querySelectorAll("pre:not(.GoModContainer)").forEach(block => {
        hljs.highlightBlock(block);
    });
</script>
{{end}}