{{define "PackageIndex"}}
<div class="PackageIndex">
    <h2 id="pkg-index">Index</h2>
    {{ if gt (len .Constants) 0 }}
    <div class="index-item">
        <a href="#Constants" class="index-item-link">Constants</a>
    </div>
    {{end}}
    {{ if gt (len .Variables) 0 }}
    <div class="index-item">
        <a href="#Variables" class="index-item-link">Variables</a>
    </div>
    {{ end }}
    {{ range .Funcs }}
    <div>
        <div class="index-item">
            <a href="#{{ .Name }}" class="index-item-link">{{ .SignatureString }}</a>
        </div>
    </div>
    {{ end }}
    {{ range .Types }}
    <div>
        <div calss="index-item">
            <a href="#{{.Name}}" class="index-item-link">type {{ .Name }}</a>
        </div>
        {{ if gt (len .Funcs) 0 }}
        <ul>
            {{ range .Funcs }}
            <li>
                <a href="#{{.Name}}" class="index-item-link">{{ .SignatureString }}</a>
            </li>
            {{end}}
        </ul>
        {{ end }}
        {{ if gt (len .Methods) 0 }}
        {{ $typeName := .Name }}
        <ul>
            {{ range .Methods }}
            <li>
                <a href="#{{$typeName}}.{{.Name}}" class="index-item-link">
                    {{ .SignatureString }}
                </a>
            </li>
            {{ end }}
        </ul>
        {{end}}
    </div>
    {{end}}
    {{ if gt (len .Examples) 0 }}
    <h2 id="pkg-index">Examples</h2>
    {{range .Examples}}
    <div>
        <div class="index-item">
            <a href="#{{ .ID }}" class="index-item-link">Example ({{ .Name }})</a>
        </div>
    </div>
    {{end}}
    {{range .Funcs}}
    {{range .Examples}}
    <div>
        <div class="index-item">
            <a href="#{{ .ID }}" class="index-item-link">Example ({{ .Name }})</a>
        </div>
    </div>
    {{end}}
    {{end}}
    {{range .Types}}
    {{range .Examples}}
    <div>
        <div class="index-item">
            <a href="#{{ .ID }}" class="index-item-link">Example ({{ .Name }})</a>
        </div>
    </div>
    {{end}}
    {{range .Funcs}}
    {{range .Examples}}
    <div>
        <div class="index-item">
            <a href="#{{ .ID }}" class="index-item-link">Example ({{ .Name }})</a>
        </div>
    </div>
    {{end}}
    {{end}}
    {{range .Methods}}
    {{range .Examples}}
    <div>
        <div class="index-item">
            <a href="#{{ .ID }}" class="index-item-link">Example ({{ .Name }})</a>
        </div>
    </div>
    {{end}}
    {{end}}
    {{end}}
    {{ end }}
</div>
{{end}}